/*header section*/

.header {
    background-color: #fff;
    border-bottom: 1px solid #ECECEC;
}
.header-content {
    display: flex;
}
.header__nav {
    display: flex;
    margin-right: auto;
}
.logo {
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
    text-decoration: none;
    display: block;
    margin-right: 93px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-top: 16px;
    padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .logo {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.logo__header-studio {
    font-family: 'Raleway', sans-serif;
    color: black;
}
.header-studio-style {
    color: #2196F3;
}
.studio-header-border::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background-color: #2196F3;
    flex-shrink: 0;
}
.header__nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto 0;
}

@media screen and (min-width: 480px) {
    .header__nav-list {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    
    .header__nav-list {
        display: flex;
    }
}

.header__nav-element {
    position: relative;
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.header__nav-link {
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    padding: 32px 0px;

    &:hover,
    &:focus {
    color: #2196F3;
    text-decoration: none;
}
}

.burger-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }
}
.burger-button__icon {
    fill: #212121;;
    width: 40px;
    height: 40px;

    .burger-button:hover & {
        fill: #2196F3;
    }
}

.header__contact-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto 0;
}

@media screen and (min-width: 480px) {
    .header__contact-list {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .header__contact-list {
        display: flex;
        flex-direction: column;
        margin-left: 84px;
    }
}
@media screen and (min-width: 1200px) {
    .header__contact-list {
        flex-direction: row;
        padding: 0;
        margin: auto 0;
    }
}
.header__contact-element {
    display: flex;
    text-decoration: none;
    // margin-left: 50px;
    align-items: center;

    // &:first-child {
    //     margin-left: 0px;
    // }
}

@media screen and (min-width: 768px) {
    .header__contact-element {
        &:first-child {
            margin-bottom: 10px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .header__contact-element {
        padding: 0;
        margin-left: 50px;
        

        &:first-child {
            margin-left: 0px;
            margin-bottom: 0;
        }
    }
}
.header__contact-link {
    display: flex;
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    // font-size: 14px;
    // line-height: 16px;
    letter-spacing: 0.02em;
    // padding: 32px 0px;
    align-items: center;

    &:focus,
    &:hover {
        color: #2196F3;
        text-decoration: none;
    }
}

@media screen and (min-width: 1200px) {
    .header__contact-link {
        font-size: 14px;
        line-height: 16px;
        padding: 32px 0px;
    }
}
.header__contact-icon {
    margin-right: 8px;
    fill: currentColor;
}

@media screen and (min-width: 1200px) {
    .header__contact-icon {
        margin-right: 10px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 100;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-close-menu {
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.mobile-close-icon {
    width: 19px;
    height: 19px;
    fill: #212121;

    .mobile-close-menu:hover & {
        fill: #2196F3;
    }
}
.mobile__nav-list {
    padding-top: 48px;
    padding-left: 40px;
    // margin-bottom: 302px;
}
.mobile__nav-element {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}
.mobile__nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
}
.mobile__studio-link {
    color: #2196F3;
}

.mobile__contact-list {
    padding-left: 40px;
}
.mobile__contact-element {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}
.mobile__contact-link {

}
.mobile__mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.mobile__tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
}

.mobile__social-list {
    display: flex;
    padding-bottom: 48px;
    padding-left: 40px;
}
.mobile__social-element {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;

    &:last-child {
        padding: 0;
        border: none;
        margin: 0;
    }
}
.mobile__social-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px; 
    letter-spacing: 0.02em;
    color: #2196F3;
}